@font-face {
	src: url('..fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}
@font-face {
	src: url('..fonts/OpenSans-ExtraBold.ttf') format('truetype'); 
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}
@font-face {
	src: url('..fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}
@font-face {
src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
font-family: 'Open Sans';
font-weight: 400;
font-style: normal;
}
@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}
.body {
	background-color: #ffffff;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 0;
	display: flex; 
	width: 100vw;
	flex-direction: column;  
	word-break: break-word;
}



/* ПЕРВЫЙ БЛОК HEADER */

.background_header_grey {
	background-color: #e0e0e0;
	width: 100vw;
	display: flex;
	align-items: center;
	padding-top: 29px;
	margin-bottom: 0;
}
header {
	background-color: #000000;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	max-width: 1249px;
	min-height: 89px;
	display: flex;
	margin: 0 auto;	
}
@media screen and (max-width: 800px){
	.header-menu {
		width: 100%;
		flex-wrap: wrap;
	}
}
.header-menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-between;
	align-items: stretch;
	margin: 0;
} 
@media screen and (max-width: 350px){
	.menu-item {
		width: 100%;

	}
	
}
 .menu-item {
	align-items: stretch;
	justify-content: center;
	min-height: 89px;
	display: flex;
	padding: 0;
	margin: 0;	


}
.menu-link {
	color: #E0E0E0;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: center;
	font-style: normal;
    font-weight: bold;
	display: flex;
	align-items: center;
	padding: 0 30px;
	

}
.header-menu a:hover{
	background-color: #FF3F40;
	display: flex;
	align-items: center;
	padding: 0 30px;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;

}
 .content {
	flex-grow: 1;
	width: 100vw;
	justify-content: center;
}
 .background_main_grey {
	display: flex;
	justify-content: stretch;
	align-items: center;
	width: 100vw;
	background-color: #e0e0e0;
	padding-top: 50px;
	padding-bottom: 100px;
	flex-direction: row;
	flex-grow: 1 1;
	flex-shrink: 1 1;
	flex-basis: 1249px;
}
.text-input1 {
	display: flex;
	flex-direction: column;
}
@media screen and (max-width: 1000px){
.background_main_grey {
	padding-top: 50px;
	flex-wrap: wrap;
	display: flex;
	flex-grow: 1 1;
	flex-shrink: 1 1;
	flex-basis: 98vw;
	display: flex;
	justify-content: center;
}	
}
@media screen and (max-width: 600px){
	.background_main_grey {
		padding-top: 50px;
		flex-wrap: wrap;
		flex-grow: 1 1;
	    flex-shrink: 1 1;
	    flex-basis: 98vw;
	    /* margin: 1vw; */
		display: flex;
		justify-content: center;
	}	
	}
 .head1 {
	font-size: 60px;
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 18px;
	font-weight: 800;
	letter-spacing: 1.5px;
	margin-bottom: 50px;
	margin-left: 150px;
 }

  .word {
	letter-spacing: 6px;
	word-break: break-word;
	hyphens: auto;
  }
 .text  {
	margin-bottom: 70px;
	font-size: 16px;
	max-width: 545px;
	margin-left: 150px;
	line-height: 28px;

}
@media screen and (max-width: 1000px) {
	.head1,
	.word,
	.text {
		word-break: break-word;
		width: 100%;
		flex-wrap: wrap;
		margin: 1vw;
	}
}
.link {
	justify-content: center;
	margin-left: 150px;
	width: 227px; 
	height: 55px;
	background-color: #FF2D2D;
	align-items: center;
	display: flex;
} 
@media screen and (max-width: 800px) {
	.link  {
		align-items: center;
		flex-wrap: wrap;	
		margin: 1vw;
	}
}
.link a {
	justify-content: center;
	align-items: center;
	color: #E0E0E0;
	background-color: #FF3F40;
	font-size: 18px;
	text-decoration: none;
	display: flex;
	font-weight: bold;
}
 .picturep {
padding-left: 141px;
margin-top: 103px;
min-width: 350px;
max-width: 551px;
height: auto;
}
 @media screen and (max-width: 1000px) {
	.picturep {
		height: auto; 
		margin: 1vw;
		padding: 1vw;
		min-width: 350px;
		max-width: 551px;
		justify-content: center;
	 }
}
@media screen and (max-width: 600px) {
	.picturep {
		padding: 1vw;
		height: auto;
		min-width: 350px;
		max-width: 551px;
		justify-content: center;
	}
}
	







 /* ВТОРОЙ БЛОК */
  .block-services {
	  margin-bottom: 92px;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  flex-grow: 1 1;
	  flex-shrink: 1 1;
	  flex-basis: 1249px;
	  justify-content: center;
	  
  }
  
  .left-block {
 margin-top: 77px;
 padding-left: 150px;
 justify-content: center;
 align-items: center;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 
  }
  .head2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 42px;
	line-height: 55px;
	text-transform: uppercase;
	color: #585858;
	width: 539px;
  }
  .twop {
	margin-bottom: 80px;
	font-size: 16px;
	width: 539px;
	height: 73px;
	/* margin-left: 150px; */
	line-height: 28px;
  }
  .link-input {
	/* margin-top: 64px; */
	width: 227px;
	height: 55px;
	border: 2px solid #FF0000;
	background-color: rgba(0, 0, 0, 0.0001);
	text-align: center;
	/* margin-left: 150px; */
	justify-content: center;
	align-items: center;
	vertical-align: center;
	display: flex;

	
  }
  .link-input > a {
	  color: #FF2D2D;
	  text-decoration: none;	
  }
  
  .right-block {
margin-top: 107px;
margin-left: auto;
margin-right: 160px;
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
flex-grow: 1 1 1 1;
flex-shrink: 1 1 1 1;
flex-basis: 640px;
}
@media screen and (max-width: 900px) {
	
}
	
}
  .h3-block2 {
font-size: 23px;
color: #000000;
align-items: flex-start;
justify-content: flex-start;
text-align: start;
padding-left: 0;
margin-right: 117px;
margin-left: 0;
  }
.h34-block2 {
	font-size: 23px;
	color: #000000;
	margin-right: 160px;
	
}
   .services-p {
line-height: 28px;
display: flex;
flex-wrap: wrap;
   }
    .Management {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 10px;
		width: 300px;
	
	}
	.Management::before {
		content: url('../images/service-1.png');
		width: 41px;
	    height: 41px;
		margin-left: 0;
	margin-top: -30px;
	}
	.Design {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 10px;
		width: 300px;
		
	}
	.Design::before {
		content: url('../images/service-2.png');
		width: 41px;
	height: 41px;
	margin-left: 0;
	margin-top: -30px;
	}
	.Branding {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 10px;
		width: 300px;
	}
	.Branding::before {
		content: url('../images/service-3.png');
		width: 41px;
	height: 41px;
	margin-left: 0;
	margin-top: -30px;
	padding-top: 30px;
	}
	.Animation {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 10px;
		width: 300px;
		
	}
	.Animation::before {
	content: url('../images/service-4.png');
	width: 41px;
	height: 41px;
	margin-left: 0;
	margin-top: -30px;
	padding-top: 30px;
	}
  
  .services-hr {
	  width: 1251px;
	  background-color: #ECECEC;
	  height: 5px;
  }
  





  /* ТРЕТИЙ БЛОК */
  .feature-text {
margin-top: 104px;
width: 537px;
margin-left: 536px;
}
  .head3 {
text-transform: uppercase;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
font-size: 42px;
color: #000000;;

  }
  .feature-p {
display: flex;
align-items: center;
text-align: center;
justify-content: center;
font-size: 15.9953px;
line-height: 28px;
  }
  .feature-hr {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	  width: 134px;
	  background-color: #FF2D2D;
	  height: 5px;
  }
  /* ССЫЛКИ */
  .feature-link {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: stretch;
margin-left: 313px;
margin-right: 290px;
margin-top: 86px;
  }
.feature-link > a {
text-decoration: none;
text-transform: uppercase;
display: flex;
align-items: center;
text-align: center;
justify-content: space-between;
font-size: 22px;
line-height: 24px;
color:  #000000;
}
.linkred,
.feature-link > a:hover {
color: 	#FF2D2D;
}
/* КАРТИНКИ */
.feature-images {
display: flex;
align-items: flex-start;
justify-content: space-between;
flex-wrap: wrap;
margin-left: 161px;
margin-right: 161px;
margin-top: 58px;
}
.feature-picture {
	width: 250px;
	height: 291px;
	margin-bottom: 18px;
	object-fit: cover;
}



/* ЧЕТВЕРТЫЙ БЛОК MEET OUR TEAM */
.MEET-OUR-TEAM {
margin-left: 147px;
margin-top: 137px;
}
.head-our-team {
font-size: 42px;
word-break: break-all;
text-transform: uppercase;
}
.p-our-team {
	font-size: 16px;
	line-height: 28px;
	color: #000000;
	width: 479px;
	margin-bottom: 38px;
	word-break: break-all;
}
.hr-our-team {
	width: 134px;
	height: 5px;
	background-color: #FF2D2D;
	margin-left: 0;
}
/* ФОТО КОМАНДЫ */
.lead-photos {
margin-left: 150px;
margin-top: 83px;
display: flex;
flex-wrap: wrap;
margin-bottom: 106px;

}
.team-lead {
	width: 324px;
	height: 460px;
	margin-right: 72px;
}
.content-text {

}
.head3-mark {

}
.about-team {
width: 663px;
}
.society {
margin-top: 47px;
}
.society a:hover {
text-decoration: underline;
}
.a-society {
text-decoration: none;
font-size: 18px;
line-height: 24px;
color: #000000;
margin-right: 10px;
}
.photo-members {
display: flex;
flex-wrap: wrap;
margin-left: 395px;
margin-top: -217px;
}
.member {
	width: 195px;
	height: 217px;
	margin-right: 15px;
	object-fit: cover;
}




/* ПЯТЫЙ БЛОК FOR EMAIL */
.for-email {
	/* height: 516px; */
	width: 100vw;
	background-color: #2C2C2C;
	padding-top: 124px;
	padding-bottom: 140px;
}
.text-subscribe {
	text-align: center;
	justify-content: center;
	align-items: stretch;
	margin: 0 auto;
	max-width: 1249px;
}
.head3-email {
	color: #FFFFFF;
	font-size: 42px;
    line-height: 24px;
    text-align: center;
	margin-bottom: 30px;
	
}
.p-email {
	color: #FFFFFF;
	line-height: 28px;
	font-size: 16px;
	width: 574px;
    text-align: center;
}
.form-email {

}
